.vs/
.vscode/
output/
dumps/
**/obj/
**/bin/
**/x64/
**/Debug/
**/Release/

*.exe
*.dll
*.lib
*.exp
*.pdb

!kdex/game/Security/Api/curl/*.lib
!kdex/thirdparty/**/*.lib
!kdex/thirdparty/**/*.dll
*.ipdb
*.iobj
*.ilk
*.idb
*.tlog
*.log
*.tlog.*
*.recipe
*.opendb
*.opensdf
*.sdf
*.suo
*.user
*.userprefs
*.vspx
*.vssscc
*.VC.db
*.VC.opendb
*.aps
*.ncb
*.pch
*.res

*.o
*.obj
*.a
*.so

Thumbs.db
Desktop.ini
.DS_Store

*.swp
*.swo
*~
